<%= link_to business_path(business), class: "card-link" do %>
  <div class="card mb-4 border rounded shadow-sm">
      <% if business.photos.attached? %>
        <%= cl_image_tag business.photos.first.key, class: "card-img-top card-img", crop: :fill %>
      <% else %>
        <%= image_tag "business-placeholder.jpg", class: "card-img-top card-img", crop: :fill %>
      <% end %>
      <div class="card-body">
        <div>
          <p><b><%= business.name %></b></p>
          <span class="small"><%= business.address %></span>
          <p class="small"><%= business.city %> • <%= business.state %> • <b><%= business.postcode %></b></p>
        </div>
        <% business.description.split(' ')
                    .map { |word| word.gsub(/[^a-zA-Z0-9\s]/, '').strip }
                    .each do |word| %>
          <span class="badge custom-badge"><%= word %></span>
        <% end %>
      </div>
  </div>
<% end %>
