<div class="card mb-4 border rounded shadow-sm">
    <div class="card-body">
        <b><%= service.name %></b>
        <p><span class="small"><%= service.description %></span></p>
        <p><b>Offer:</b> AUD <%= service.offer %></p>
        <p><b>Original:</b> AUD <del><%= service.price %></del></p>
        <%= button_to line_items_path(service_id: service.id), class: "btn btn-success btn-sm" do %>
          <i class="fa-solid fa-plus fa-lg"></i>
        <% end %>
    </div>
</div>
