<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
      <li class="breadcrumb-item"><%= @business.city %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @business.name %></li>
    </ol>
  </nav>
</nav>

<h1><%= @business.name %></h1>

<nav style="--bs-breadcrumb-divider: ' • ';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= @reviews_average_rating %>
      <% @reviews_average_rating.to_i.times do %>
        <p style="display: inline-block;"><i class="fa-solid fa-star fa-md" style="color: #ffea00;"></i></p>
      <% end %>
    </li>
    <li class="breadcrumb-item"><%= @business.available? ? "Available for booking" : "Not Available for Booking" %></li>
    <li class="breadcrumb-item"><%= @business.address %></li>
    <li class="breadcrumb-item"><%= @business.city %>, <%= @business.state %></li>
    <li class="breadcrumb-item"><%= link_to "Get Directions", "https://www.google.com/maps/dir//#{@business.address},+#{@business.city},+#{@business.state}", target: :_blank %></li>
  </ol>
</nav>

<%# PICTURES %>
<div class="my-5">
  <div class="row">
    <% if @business.photos.attached? %>
      <div class="col business-photo">
        <%= cl_image_tag @business.photos.first.key, height:500, width: 600, crop: :fill %>
      </div>
      <div class="col business-photo">
        <% @business.photos[1..2].each do |photo| %>
          <%= cl_image_tag photo.key, height: 250, width: 350, crop: :fill %>
        <% end %>
      </div>
    <% else %>
      <div class="col business-photo">
        <%= image_tag "business-placeholder.jpg", height:500, width: 600, crop: :fill %>
      </div>
      <div class="col business-photo">
        <% 2.times do %>
          <%= image_tag "business-placeholder.jpg", height: 250, width: 350, crop: :fill %>
        <% end %>
      </div>
    <% end %>
  </div>
  <button type="button" class="btn btn-outline-light btn-sm">See all images</button>
</div>

<%# Offers %>
<div class="col-12 my-5">
  <h2>Offers</h2>
  <div class="row mt-3">
    <% @services.each do |service| %>
      <% if service.offer.positive? %>
        <div class="col-md-3">
          <%= render "offer_card", service: service %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%# All Services %>
<div class="col-12 my-5">
  <div class="col-8">
    <h2>Services</h2>
    <% @services.each do |service| %>
      <%= render "service_card", service: service %>
    <% end %>
  </div>
  <div class="col-4">
    <%# <%= render "carts/show" %>
  </div>
</div>

<%# REVIEWS %>
<div class="col-12 my-5">
  <h2>Reviews</h2>
    <div class="row mt-3">
      <% @reviews.each do |review| %>
        <div class="col-md-3">
          <%= render "reviews/review_card", review: review %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# About the business %>
<div class="container py-3">
  <div class="row">
    <div class="col-md-8">
      <h2>About</h2>
      <h5><%= @business.description %></h5>
    </div>
  </div>
</div>

<div class="container py-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Location</h2>
      <div style="width: 100%; height: 400px;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
