<div class="container my-4">
  <div>
      <ul class="list-inline">
        <li><%= link_to "Home", root_path %></li>
        <li>∙ <%= @business.city %></li>
        <li>∙ <%= link_to @business.name , business_path(@business) %></li>
      </ul>
  </div>

  <h1><%= @business.name %></h1>

  <div class="business-details">
    <ul class="list-inline">
      <li>★ review score</li>
      <li>review path here</li>
      <li><%= if @business.available? then "Available for booking" end %></li>
      <li><%= @business.address %></li>
      <li><%= @business.city %></li>
      <li><%= @business.state %></li>
      <li><%= @business.postcode %></li>
    </ul>
  </div>


  <div class="container py-3">
    <div class="row">
      <div class="col-md-8 slide-container swiper">
        <h3>Offers</h3>
        <%= render "offer_card", business: @business %>

        <%# <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div> %>
      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="row">
      <div class="col-md-8">
        <h3>Services</h3>
          <%= render "service_card", business: @business %>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="row">
      <div class="col-md-8">
        <h3>About</h3>
        <h5><%= @business.description %></h5>
      </div>
    </div>
  </div>

</div>
