<div class="container">
  <div class="row">

    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <h3>User Profile</h3>
          <span><strong>Name:</strong></span>
          <p><%= current_user.name %></p>
          <span><strong>Email:</strong></span>
          <p><%= current_user.email %></p>
          <span><strong>Address:</strong></span>
          <p><%= current_user.address %></p>
          <span><strong>City:</strong></span>
          <p><%= current_user.city %></p>
          <span><strong>State:</strong></span>
          <p><%= current_user.state %></p>
          <span><strong>Postcode:</strong></span>
          <p><%= current_user.postcode %></p>
          <span><strong>Date of Birth:</strong></span>
          <p><%= current_user.date_of_birth.strftime('%d %B %Y') %></p>
          <%= link_to "Edit Profile", "#", remote: true, data: { bs_toggle: "modal", bs_target: "#editProfileModal" }, class: "btn btn-success" %>
        </div>
      </div>
      <%= render 'edit_profile' %>
    </div>

    <div class="col-7">
      <div class="card mb-4">
        <div class="card-body">
          <h4>My payment Methods</h4>
          <span> Securely save your payment methods</span>
          <hr>
          <%= render 'payments' %>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h4>Linked Accounts</h4>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h4>Notifications</h4>
        </div>
      </div>

    </div>

  </div>
</div>
