<div class="navbar navbar-expand-lg navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <i class="fa-regular fa-bookmark fa-xl mx-2" style="color: #72d578;"> </i>
      <%= link_to "Locale", root_path, class: "navbar-brand" %>
    </div>
    <% if controller_name != "pages" && action_name != "home" %>
      <div class="form-inline search-sec-nav">
       <%=  form_with url: businesses_path, method: :get, class: "d-flex gap-3" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control search-slt",
                placeholder: "find your service?"
          %>
          <%= select_tag :city, options_for_select(['Melbourne', 'Sydney', 'Brisbane', 'Richmond']), class: "form-control" %>
          <%= button_tag type: "Submit", class: "btn btn-success rounded-pill" do %>
            <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #474747;"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto gap-2">
        <li class="nav-item">
          <%= link_to cart_path(@current_cart), class: "nav-link btn btn-outline-success rounded-pill" do %>
            Booking (<%= @current_cart.line_items.sum(:quantity).to_i %>)
          <% end %>
        </li>

      <li class="nav-item">
      <%= link_to 'For Your Business', for_your_business_path, class: 'nav-link btn btn-outline-success rounded-pill' %>
      </li>

        <% if user_signed_in? %>
          <li class="nav-item dropdown-center">
            <button class="nav-link dropdown-toggle btn btn-outline-success rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, height: 25, width: 25, aspect_ratio: "1:1", crop: :fill, class: "avatar" %>
              <% else %>
                <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= asset_path('photo-placeholder.jpg') %>" />
              <% end %>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown dropdownMenuicon">
              <%= link_to "Hello #{current_user.name.split[0]} ", "#", class: "nav-link" %>
              <%= link_to "Dashboard", dashboard_index_path, class: "dropdown-item" %>
              <% if current_user.bookings.exists? %>
                <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
              <% else %>
                <%= link_to "My Bookings", bookings_path, class: "dropdown-item disabled" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-outline-success rounded-pill" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
