<div class="container mb-5">

  <div class="row my-5">
    <div class="col-9">
      <h1 class="main-message">Booking local services just a few steps from you, with extra benefits.</h1>
    </div>

    <div class="search-sec my-5">
      <div class="row">
        <div class="col-lg-7 p-0">
          <%=  form_with url: businesses_path, method: :get, class: "d-flex gap-3" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control search-slt",
                  placeholder: "Search for a service..."
            %>
            <%= submit_tag "", name: "", class: "btn btn-success rounded-pill" do %>
              <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #474747;"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div>
      <b><h2 id="booking-count"></h2></b>
    </div>
  </div>

  <script>
    const bookingCountElem = document.getElementById("booking-count");
    let bookingCount = 1050;

    setInterval(() => {
      bookingCount += 13;
      bookingCountElem.innerText = `${bookingCount.toString()} appointments booked today`;
    }, 1000);
  </script>
</div>

<div class="container my-5">
 <div class="col-12">
    <h2>New to Locale</h2>
    <div class="row mt-3">
      <% @new_businesses.each do |business| %>
        <div class="col-md-3">
          <%= render "businesses/business_card", business: business %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container my-5">
 <div class="col-12">
    <h2>Newest Reviews</h2>
    <div class="row mt-3">
      <% @new_reviews.each do |review| %>
        <div class="col-md-3">
          <%= render "reviews/review_card", review: review %>
        </div>
      <% end %>
    </div>
  </div>
</div>
