<div class="row">
  <div class="col-8">
  <h2>Your Booking Details</h2>

  <% if @cart.services.first.present? %>
    <h3>with <b><%= link_to @business.name, business_path(@business) %></b></h3>
  <% else %>
    <h3> Your cart is empty </h3>
  <% end %>

  <% @cart.line_items.each do |line_item| %>
    <div class="card my-3">
      <div class="row">
        <div class="col-10">
          <div class="card-body">
            <h5><%= line_item.service.name %></h5>
            <p class="card-text"><strong>Price:</strong> <%= line_item.price_or_offer %></p>
          </div>
        </div>
        <div class="col-2">
          <div class="card-body">
            <%# <%= link_to "Add one", line_item_add_path(line_item), method: :post, class: "btn btn-primary btn-sm" %>
            <%# <%= link_to "Reduce one", line_item_reduce_path(line_item), method: :post, class: "btn btn-primary btn-sm" %>
            <%= button_to "", line_item_path(line_item), method: :delete, class: "btn-close btn-small", data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="mt-5">
    <h4>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>
    <h5>GST: <%= number_to_currency(@cart.taxes) %></h3>
  </div>

  <div class="mt-4">
    <%= link_to "Date Selection", new_user_booking_path(current_user), class: "btn btn-success" %>
    <%# <%= button_to "Empty cart", cart_path(@cart), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    <%= link_to "Back", @business ? business_path(@business) : root_path, class: "btn btn-primary" %>
  </div>

  </div>
</div>
