<h1>New Review</h1>

<%= form_with(model: [current_user, @booking, @review]) do |form| %>
  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :rating %>
  <%= form.number_field :rating %>

  <%= form.submit "Submit Review" %>
<% end %>
