<!DOCTYPE html>
<html>
  <head>
    <title>Locale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-landing-page">
    <%= render "shared/navbar" %>
    <div class="container py-5">
      <%= yield %>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
